h2 {
  font-family: Arial, Helvetica, sans-serif;
}


.application {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  /* padding-top: 10%; */
}

